{% include body/menu.html %}

<hy-push-state
  replace-ids="_main"
  link-selector="a[href]:not([href*='/assets/']):not(.external):not(.no-push-state)"
  duration="250"
  script-selector="script:not([type^='math/tex'])"
  prefetch
>
  {% if page.cover %}
    {% include body/sidebar.html %}
    {% include body/main.html %}
  {% else %}
    {% include body/main.html %}
    {% include body/sidebar.html %}
  {% endif %}
</hy-push-state>

{% include body/scripts.html %}
{% include my-body.html %}

{% include templates/index.html %}
<a href="#" id="scroll" style="display: none;"><span></span></a>
<script src='https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js'></script><script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script id="rendered-js">
          
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
      $('#scroll').fadeIn();
    } else {
      $('#scroll').fadeOut();
    }
  });
  $('#scroll').click(function () {
    $("html, body").animate({ scrollTop: 0 }, 600);
    return false;
  });
});
          //# sourceURL=pen.js
        </script> <!-- Resource JavaScript -->

